.containerNavBar {
    display: flex;
    justify-content: center;
    background-color: #021168;
    padding: 20px;
}

.containerBanner img {
    display: flex;
    margin-bottom: 50px;
    width: 100%;
    height: auto;
    max-height: 350px;
    object-fit: cover;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 35px
}

footer {
    text-align: center;
    padding: 25px;
    margin-top: 50px;
    background-color: #021168;
    color: white;
}

