@import url('fontes.css');
@import url('componentes.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #eff8ff;
}

.itensNav a {
    align-itens: space-between;
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
}


.logos img {
    width: 160px;
}


.rodape {
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

.rodape a {
    color: white;
    text-decoration: none;
}


